@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    padding: 6px 10px;
    background-color: white;
    border-radius: 20px;
  }
}

body{
  background-image: url("../../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}