@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 20px;
  }

  .sombra {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

body {
  background-image: url("../../public/imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #151922;
}
